* {
	box-sizing: border-box;
}

/*For Phones*/
[class*="col-"] {
	width: 100%;
	height: auto;
	padding: 15px; /*Can be anything or absent*/
	float: left;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

/*Row 1*/
#row1 div {
	display: inline-block;
	padding: 0 5em;
}
#row1 h1 {
	font-weight: 300;
	font-size: 36px;
	padding: 0;
}
#topright {
	text-align: left;
}
#topright a {
	margin-left: -1px;
	margin-top: 3px;
	padding: .5em 1em;
	border-radius: 4px;
	display: block;
}
#about {
	color: white;
	background: #d8192f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5); 
}
#about:hover {
	cursor: pointer;
}
.topbuttons {
	border: solid #d8192f 1px;
	color: #d8192f;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
.topbuttons:hover, .topbuttons:active, .topbuttons:focus {
	cursor: pointer;
	color: white;
	background: #d8192f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5); 
}

/*Row 2*/
#row2 {
	height: 500px;
	text-align: right;
	background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-attachment: scroll;
}
#row2 h1 {
	color: white;
	font-size: 60px;
	font-weight: 300;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	margin-right: 20%;
	line-height: 65px;
}

/*Row 3*/
#row3 {
	background: #36343f;
	color: white;
	text-align: center;
	padding: 9em 0;
}
#row3 h1 {
	font-size: 26px;
	font-weight: 300;
}
#learn {
	padding: .6em 1.25em;
	background: rgba(216,25,47,.5);
	border-radius: 4px;
	font-size: 18px;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
#learn:hover, #learn:active, #learn:focus {
	cursor: pointer;
	background: #d8192f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5); 
}

/*Row 4*/
#row4 {
	text-align: center;
	padding: 5em 0;
}
#row4 h1, #row4 h2 {
	font-weight: 300;
}
#row4 h1 {
	font-size: 26px;
}
#row4 h2 {
	color: red;
	margin-top: -.5em;
	padding-bottom: .5em;
}
#row4 p {
	line-height: 10px;
}
#row4centering {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#row4centering div {
	border-bottom: solid #eeeeee 1px;
	margin-top: 1em;
}

/*Row 5*/
#row5 {
	background: #eeeeee;
	text-align: center;
}
#row5centering {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#row5 a {
	display: block;
	color: red;
	line-height: 25px;
}



/*For Tablets*/
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

#topright {
	text-align: right;
	margin-top: 1.5em;
}
#topright a {
	display: inline-block;
}
#row3 h1 {
	font-size: 32px;
}
#row4 h1 {
	font-size: 32px;
}
#row4 p {
	line-height: 20px;
}
#row4centering {
	-webkit-flex-direction: row;
	flex-direction: row;
}
#row4centering div {
	margin-top: 0;
}
#row5centering {
	-webkit-flex-direction: row;
	flex-direction: row;
}
}


/*For Desktops/Laptops*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#row2 {
	background-attachment: fixed;
}
}
