html, body {
	text-align: center;
}

/** {
	border: dotted blue 1px;
}*/

table {
	margin: 0 auto;
}

#title {
	font-size: 40px;
	margin-top: 15px;
}

.top {
	padding: 5px 45px;
	border: solid red 3px;
	font-size: 22px;
	width: 250px;
	margin-left: 25px;
	position: absolute;
}

#back {
	left: 8px;
	top: 130px;
	text-decoration: none;
	color: black;
}

#back:hover {
	background-color: rgba(255,0,0,.5);
}

#numDisplay {
	margin: 30px 0;
}

#numDisplay table {
	text-align: center;
}

#numDisplay td {
	padding: 0 45px;
}

#current p {
	font-size: 20px;
	margin-top: -65px;
}

#last p {
	margin-top: -23px;
}

.numDh {
	border: solid red 3px;
	border-radius: 5px;
}

#currenth {
	padding-top: 42px;
	height: 123px;
	width: 175px;
	font-size: 70px;
}

#lasth {
	padding-top: 20px;
	height: 55px;
	width: 75px;
	font-size: 30px;
}

#roller {
	margin-top: 45px;
	margin-bottom: 60px;
}

.btn {
	border: solid red 3px;
	margin: 0 auto;
	width: 200px;
	padding: 5px 0;
	font-size: 23px;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(255,0,0,.5);
}

#resetBtn {
	margin-top: 15px;
	display: none;
}

#numbers {
	display: block;
}

#numbers table {
	text-align: center;
	margin-bottom: 25px;
	border-collapse: collapse;
}

#numbers td:first-child {
	border-right: solid black 1px;
	padding-right: 15px;
}

#numbers td:nth-child(2) {
	padding-left: 15px;
}

#numbers p {
	border: solid red 3px;
	border-radius: 50%;
	font-size: 25px;
	padding-top: 15px;
	height: 45px;
	width: 60px;
	margin: 3px;
}

.bingoTitle {
	font-size: 30px;
	font-weight: bold;
}

html {
	background: url("https://hcnureth.github.io/Images/Bingo/GrayWood2.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-attachment: scroll;}
img.bg {
  	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px) {
    img.bg {
    	left: 50%;
      margin-left: -512px;
    }
}
