* {
	box-sizing: border-box;
}

/*For Phones*/
[class*="col-"] {
	width: 100%;
	height: auto;
	float: left;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

html {
	font-family: 'Raleway', sans-serif;
	background: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-attachment: scroll;
}
html, body {
	margin: 0;
	padding: 0;
}

/*Row 1*/
#row1 {
	background: #333333;
	height: 3em;
}
#row1 p {
	color: white;
	font-size: 22px;
	letter-spacing: .5px;
	margin-top: .5em;
	margin-left: 1em;
}


/*Row 2*/
#row2 {
	text-align: center;
	height: 800px;
}
#row2 h1 {
	color: #333333;
	font-size: 40px;
	font-weight: 600;
	margin-top: 3em;
}
#row2 div {
	background: #333333;
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.3px;
	margin: 0 auto;
	width: 12em;
	padding: .8em 0;
	margin-top: 3.5em;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
#row2 div:hover, #row2 div:active, #row2 div:focus {
	background: #595959;
	cursor: pointer;
}


/*Row 3*/
#row3 {
	background: white;
	padding: 5em 0;
	text-align: center;
	color: #333333
}
#iconsrow {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.icons:not(:first-child) {
	margin-top: 5em;
}
.icons img {
	height: 32px;
}
.icons p {
	width: 75%;
	margin: 0 auto;
	font-size: 14px;
}
.learnmore {
	color: #333333;
  border: 1px solid #333;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin-top: 2em;
}
.learnmore:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #595959;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.learnmore:hover, .learnmore:focus, .learnmore:active {
  color: black;
  cursor: pointer;
}
.learnmore:hover:before, .learnmore:focus:before, .learnmore:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


/*Row 4*/
#row4 {
	background: #333333;
	color: white;
	padding: 2em 5em;
	font-size: 12px;
}
#row4 a {
	color: white;
}
#row4 a:hover, #row4 a:focus, #row4 a:active {
	color: #999999;
}


/*For Tablets*/
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

#row2 h1 {
	font-size: 70px;
}
#iconsrow {
	-webkit-flex-direction: row;
	flex-direction: row;
}
.icons:not(:first-child) {
	margin-top: 0;
}
}


/*For Desktops/Laptops*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
