html, body {
	margin: 0;
	padding: 0;
	background-color: #6fffff;
}

#dice {
	display: block;
	height: 200px;
	width: 200px;
	margin: 100px auto;
	background-color: white;
}

.top {
	position: absolute;
	margin-top: -60px;
	margin-left: 50px;
	font-size: 19px;
	background-color: white;
	border: solid black 1px;
	border-radius: 7px;
	padding: 10px 35px;
}

#back {
	color: black;
	text-decoration: none;
}

#back:hover {
	box-shadow: 3px 3px 3px #333333;
}

#scratch {
	margin-top: -5px;
}

.btn {
	display: block;
	width: 60px;
	text-align: center;
	border: solid 1px black;
	border-radius: 7px;
	padding: 10px 35px;
	font-size: 20px;
	margin: 15px auto;
	background-color: white;
}

#rollNumber {
	position: absolute;
	background-color: white;
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px 25px;
	width: 25px;
	text-align: center;
	margin-left: 60%;
	margin-top: -128px;
}

#roll {
	margin-top: -65px;
}

#roll:hover {
	cursor: pointer;
	box-shadow: 3px 3px 3px #333333;
}

#stop {
	display: none;
}

#stop:hover {
	cursor: pointer;
	box-shadow: 3px 3px 3px #333333;
}

#unfreeze {
	display: none;
}

#unfreeze:hover {
	cursor: pointer;
	box-shadow: 3px 3px 3px #333333;
}

.die {
	height: 200px;
	width: 250px;
	margin: auto;
	margin-left: -30px;
	border: 1px solid black;
	border-radius: 15px;
	display: inline;
	background-color: white;
}

#one {
	display: none;
}

#two {
	display: none;
}

#three {
	display: none;
}

#four {
	display: none;
}

#five {
	display: none;
}

#six {
	display: none;
}

#rollNumber {
	color: black;
}
