#d6 {
	margin: 150px auto;
}

#dice {
	margin: 0 auto;
}

#diceTitle {
	text-align: center;
	background-color: white;
	border: solid 2px black;
	border-radius: 7px;
	padding: 5px 25px;
	width: 275px;
	margin: -75px auto;
}

.top {
	position: absolute;
	margin-left: 50px;
	font-size: 19px;
	background-color: white;
	border: solid black 2px;
	border-radius: 7px;
	padding: 10px 35px;
}

#back {
	margin-top: -55px;
	color: black;
	text-decoration: none;
}

#back:hover {
	background-color: rgba(255, 255, 255, .5);
}

.btn {
	display: block;
	width: 60px;
	text-align: center;
	border: solid 2px black;
	border-radius: 7px;
	padding: 10px 35px;
	font-size: 20px;
	margin: 15px auto;
	background-color: white;
}

#diceChooser {
	position: absolute;
	width: 335px;
	height: 495px;
	margin-top: -460px;
	margin-left: 125px;
	text-align: center;
	background-color: rgba(255, 255, 255, .5);
	border: solid black 2px;
	border-radius: 7px;
}

#diceChooser h2 {
	padding-bottom: 18px;
	font-size: 26px;
	text-decoration: underline;
}

#diceChooser .btn:hover {
	background-color: white;
	box-shadow: 3px 3px 3px #333333;
}

#diceChooser table {
	margin: 0 auto;
}

#diceChooser p {
	margin-top: -10px;
	margin-left: 5px;
	margin-right: 5px;
}

#rollNumber {
	background-color: white;
	border: solid 2px black;
	border-radius: 5px;
	padding: 5px 25px;
	width: 40px;
	text-align: center;
	margin: -90px auto;
	font-weight: bold;
}

#roll {
	margin-top: 100px;
	position: static;
}

#roll:hover, .btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .5);
}

.d6 {
	height: 200px;
	width: 250px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: white;
	display: block;
	margin: 100px auto;
	position: relative;
}

body {
	background: url("https://hcnureth.github.io/Images/diceRoller Pics/BackgroundImage/MountainScene.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
img.bg {
  	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 1024px) {
    img.bg {
    	left: 50%;
      margin-left: -512px;
    }
  }
  
  @media (max-width: 1250px) {
	  #back {
		  margin: -130px auto;
	  }
	  #scratch {
		  margin: -75px auto;
	  }
	  #d6 {
		margin: 225px auto; 
	  }
	  #diceChooser {
		  margin: -200px auto;
		  position: static;
		  height: 520px;
	  }
  }
