body {
	padding: 25px;
	font-family: Arial;
}

#container {
	border-top: none;
}

#container2 {
	border-top: solid black 2px;
}

#container2 p {
	line-height: normal;
}

#container2 li {
	padding: 5px 0;
}

.container {
	padding: 0 0 1px 0;
}

.container p {
	line-height: 7px;
}

.header {
	padding-bottom: 25px;
}

.header h2 {
	display: inline;
}

h3 {
	font-size: 22px;
}

address {
	font-style: normal;
	float: right;
}

a {
	color: blue;
	text-decoration: none;
}

#footer p {
	line-height: normal;
}

@media (max-width: 650px) {
	.header {
		padding-bottom: 75px;
	}
	
	address {
		float: left;
		margin-top: 15px;
	}
}
