body {
	padding: 25px;
}

.container {
	border-top: solid black 1px;
}

#container {
	border-top: none;
}

#container2 {
	border-top: solid black 2px;
}

.header {
	padding-bottom: 35px;
}

.header address {
	float: right;
	margin-top: -35px;
}

a {
	color: blue;
	text-decoration: none;
}

.supporting7 a:hover {
	text-decoration: underline;
}

@media (max-width: 650px) {
	.header address {
		float: left;
		margin-top: -12px;
	}
}
