* {
	box-sizing: border-box;
}

/*For Phones*/
[class*="col-"] {
	width: 100%;
	height: auto;
	float: left;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

html, body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/*Row 1*/
#row1 {
	text-align: center;
	color: white;
	height: 800px;
	background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
#row1 h1 {
	font-size: 80px;
	line-height: 65px;
	letter-spacing: -3px;
	margin-top: 2.5em;
}
#row1 p {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 7px;
}
#row1 p {
	margin-bottom: 3em;
}
.otherbuttons {
	padding: .6em 2.25em;
}
.buttons {
	background: black;
	color: white;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	transition-duration: .5s;
}
.buttons:hover, .buttons:active, .buttons:focus {
	background: #117bff;
	cursor: pointer;
}


/*Row 2*/
#row2 {
	height: 3em;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	text-align: center;
	background: black;
}
.rowbuttons {
	padding: 1em;
}


/*Row 3*/
#row3 {
	padding: 3.5em;
}
#row3col4 {
	text-align: center;
	margin-top: 11em;
}
#row3 img {
	height: 200px;
	width: 200px;
}
#row3 p, #row3 h2 {
	text-align: center;
}
#row3 h2 {
	font-weight: bold;
}


/*Row 4*/
#row4 {
	height: 800px;
	color: white;
	text-align: right;
	padding-right: 20%;
	padding-top: 40%;
	background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
#row4 h3 {
	font-weight: bold;
}
#row4 p {
	margin-bottom: 2em;
}


/*Row 5*/
#row5 {
	background: black;
	color: white;
	padding: 2.5em 5em;
}
#row5 a {
	color: white;
}
#row5 a:hover, #row5 a:active, #row5 a:focus {
	color: #117bff;
}


/*For Tablets*/
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

#row1 h1 {
	font-size: 100px;
	line-height: 80px;
	letter-spacing: -7px;
	margin-top: 2em;
}
#row1 p {
	font-size: 18px;
}
#row2 {
	padding-left: 10em;
	-webkit-flex-direction: row;
	flex-direction: row;
}

#row3col4 {
	text-align: right;
	margin-right: 3em;
	margin-top: 0;
}
#row3 p, #row3 h2 {
	text-align: left;
	margin-left: 3em;
}
}


/*For Desktops/Laptops*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#row1 h1 {
	font-size: 130px;
	line-height: 100px;
	letter-spacing: -7px;
	margin-top: 1.5em;
}

#row3 p, #row3 h2 {
	margin-left: 0;
}
#row3 p {
	width: 80%;
}

#row4 {
	padding-top: 20%;
}
}
