html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

/*Header*/
.header {
	background-color: rgba(0, 0, 0, .5);
}

.header img {
	height: 32px;
	width: 32px;
	margin-top: 10px;
}

#remade {
	margin-left: 15px;
	color: rgba(0, 255, 188, 1);
	padding-right: 25px;
}

.header ul {
	margin-top: -30px;
}

.header li {
	display: inline-block;
	color: white;
	text-decoration: none;
}

.btn:hover {
	cursor: text;
	color: rgba(0, 255, 188, 1);
	text-decoration: underline;
}

#back {
	color: white;
	text-decoration: none;
}

#back:hover {
	color: rgba(0, 255, 188, 1);
	text-decoration: underline;
}

/*Jumbotron*/
.jumbotron {
	background: none;
	text-align: center;
	color: white;
	text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.jumbotron h1 {
	font-size: 60px;
}

.jumbotron img {
	height: 125px;
	width: 125px;
	margin-top: 50px;
}

.jumbotron p {
	font-size: 15px;
}

.btn2 {
	display: inline;
	background-color: rgba(0, 255, 188, .5);
	border-radius: 7px;
	padding: 15px 70px;
	font-size: 15px;
}

.btn2:hover {
	background-color: rgba(42, 28, 28, .5);
}

#join {
	display: inline-block;
	margin-bottom: 25px;
}

#back2 {
	color: white;
}

#back2:hover {
	text-decoration: underline;
	cursor: pointer;
}
