html, body {
	margin: 0;
	padding: 0;
}

.header {
	background: url(https://images.unsplash.com/photo-1462045504115-6c1d931f07d1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=248ca56b5c48870c49a4e5e27e22af03) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-attachment: scroll;
	background-position: 0% 25%;
	height: 250px;
}
img.bg {
  	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 1024px) {
    img.bg {
    	left: 50%;
      margin-left: -512px;
    }
  }
  
.header .container {
	height: 250px;
}

.header h1 {
	text-align: center;
	float: right;
	color: red;
	font-size: 45px;
	background-color: white;
	padding: 0.25em;
	border-radius: 10px;
	width: 9em;
	margin-right: 10em;
	margin-top:	1.85em;
	border: red 1px solid;
}

#heartPic {
	height: 150px;
	width: 150px;
	float: left;
	margin-top: 3em;
	margin-left: 3em;
	border-bottom-right-radius: 7em;
	border-bottom-left-radius: 7em;
	border-top-right-radius: 3.75em;
	border-top-left-radius: 3.75em;
}

#ground {
	position: absolute;
	background-color: white;
	border: red solid 1px;
	border-radius: .5em;
	color: red;
	padding: .5em 1em;
	margin-left: 13.32em;
	margin-top: 2em;
	
}

#Cback {
	position: absolute;
	color: black;
	text-decoration: none;
	font-size: 2em;
	margin-top: 2.75em;
	margin-left: 2.75em;
}

#back {
	position: absolute;
	color: red;
	background-color: white;
	text-decoration: none;
	font-size: 1em;
	padding: .5em 1em;
	border: red 1px solid;
	border-radius: .5em;
	margin-top: 5.1em;
	margin-left: 1em;
}

#back:hover {
	text-decoration: underline;
	background-color: black;
}

.jumbotron {
	background-color: red;
	height: auto;
	padding-bottom: 6em;
}

.jumbotron div {
	display: inline-block;
}

#mood-coupon {
	float: right;
	margin-right: 14em;
	display: none;
}

#coupon-pick {
	/*margin-left: 15em;  This is when I'm not hiding #mood-coupon.*/
	margin-left: 36em;
}

.pick {
	margin-top: 2.5em;
}

.jp {
	font-size: 1.8em;
}

#pick {
	margin-left: 1.82em;
}

.j-btn {
	font-size: 1.3em;
	padding: 0.5em 2em 0.5em 2em;
	background-color: black;
	color: red;
}

#mood-pick {
	margin-left: 6em;
}

#quick-pick {
	padding-top: 0.5em;
	list-style-type: none;
	text-align: center;
	margin-left: -3.78em;
	display: none;
}

.quick-coupon {
	margin-bottom: 0.4em;
	font-size: 1.1em;
}

.quick-coupon:hover {
	cursor: pointer;
	color: #333333;
}

.j-btn:hover {
	cursor: pointer;
	background-color: #333333;
}

.footer {
	background-color: black;
	color: red;
	text-align: center;
	height: 9em;
	padding-top: 1em;
}

#h3F {
	font-size: 1.5625em;
}

#lover {
	margin-top: -0.75em;
}

#name {
	margin-top: -1.1em;
	margin-left: 4em;
}