* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*Phones*/
[class*="col-"] {
	width: 100%;
	height: auto;
	float: left;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

.row {
	padding: 0 1em;
}
#background {
	background: url("https://hcnureth.github.io/Images/Portfolio Pics/StreamOverStone.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-attachment: scroll;
}


/*Row 1*/
#row1 {
	background: rgba(51, 153, 255, .7);
}
#row1 p {
	display: inline-block;
	color: white;
}
#portfoliotitle {
	font-size: 30px;
}
#quote {
	text-align: right;
	float: right;
	font-size: 20px;
}


/*Row 2*/
#row2 {
	background: rgba(255, 255, 255, .7);
}
#row2 * {
	display: inline-block;
	text-decoration: none;
}
#aboutme {
	font-size: 14px;
}
#aboutme:before {
	content: "\f0c9";
	font-family: FontAwesome;
	font-size: 18px;
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	transition-duration: .25s;
	margin-right: 10px;
}
#aboutme:hover {
	cursor: pointer;
}
#aboutme:hover:before, #aboutme:hover:active, #aboutme:hover:focus {
	color: #3366ff;
}
#aboutmenu {
	background: rgba(51, 153, 255, .7);
	border: solid 2px rgba(51, 153, 255, .1);
	position: absolute;
	display: none;
}
#aboutmenu * {
	display: block;
}
#row2ul1 {
	padding: 0;
}
#languages {
	margin-top: -10px;
}
#enjoy {
	margin-bottom: -10px;
}
#row2ul22 {
	padding-top: 10px;
}
.row2li1 {
	padding: 5px 10px;
}
.row2li1:hover, .row2li1:focus, .row2li1:active {
	cursor: pointer;
	background: rgba(255, 255, 255, .7);
}
.row2ul2 {
	padding-left: 20px;
}
.row2ul2 li {
	padding: 1.5px;
}
#row2ul21 {
	padding-bottom: 3px;
}
.row2right {
	float: right;
	margin-left: 15px;
	color: black;
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	transition-duration: .25s;
	font-size: 14px;
	margin-top: 18px;
}
.row2right:hover, .row2right:active, .row2right:focus {
	cursor: pointer;
	color: #3366ff;
}
.icons {
	font-size: 18px;
}
.github:before {
	content: "\f09b";
	font-family: FontAwesome;
}
.linkedin:before {
	content: "\f0e1";
	font-family: FontAwesome;
}
.gmail:before {
	content: "\f0e0";
	font-family: FontAwesome;
}


/*Row 3*/
#row3 {
	text-align: center;
	height: 22em;
	color: white;
	background: rgba(0, 0, 0, .2);
}
#row3 p {
	display: none;
}
#row3title {
	padding-top: 1.3em;
	font-size: 40px;
	margin-top: 0;
}
#row3subtitle {
	font-size: 20px;
	margin-top: -1.5em;
}


/*Row 4*/
#row4 {
	padding: 3em 0;
	border-bottom: solid 2px #3366ff;
}
.titles {
	font-size: 32px;
	text-align: center;
	margin-top: 7px;
}
.buttons {
	text-decoration: none;
	font-size: 20px;
	color: black;
	border: solid 3px #3366ff;
	padding: 1em;
	margin: 1em;
	text-align: center;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	overflow: hidden;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
.buttons:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: #3366ff;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
.buttons:hover, .buttons:focus, .buttons:active {
	cursor: pointer;
	color: white;
}
.buttons:hover:before, .buttons:focus:before, .buttons:active:before {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}
#row4buttons {
	margin-bottom: 1.5em;
}
.rowbuttons {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
	margin-right: 2.5em;
}
.extendbuttons {
	margin: 0 auto;
	padding: .5em 0;
	width: 7em;
}
#more {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#more:before {
  content: "";
  cursor: pointer;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3366ff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#more:hover, #more:focus, #more:active {
  color: white;
  cursor: pointer;
}
#more:hover:before, #more:focus:before, #more:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
#less {
	display: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#less:before {
  content: "";
  cursor: pointer;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3366ff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#less:hover, #less:focus, #less:active {
  color: white;
  cursor: pointer;
}
#less:hover:before, #less:focus:before, #less:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*Row 5*/
#row5 {
	padding: 2em 0;
	border-bottom: solid 2px #3366ff;
	display: none;
}


/*Row 6*/
#row6 {
	padding: 3em 0;
	border-bottom: solid 2px #3366ff;
}


/*Row 7*/
#row7 {
	padding: 3em 0;
	border-bottom: solid 2px #3366ff;
}


/*Row 8*/
#row8 {
	padding: 1em;
}
.graphics {
	padding: 30px;
	display: inline-block;
}


/*Row 9*/
#row9 {
	padding: 1em;
	background: #3366ff;
}
.row9links {
	color: white;
	font-size: 18px;
	margin-right: 15px;
	text-decoration: none;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
}
.row9links:hover, .row9links:active, .row9links:focus {
	cursor: pointer;
}


/*For Tablets*/
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

.rowbuttons {
    -webkit-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0;
}
#aboutme {
	font-size: 18px;
}
.row2right {
	font-size: 18px;
}
#row3title {
	font-size: 50px;
	padding-top: 2.25em;
}
#row3subtitle {
	font-size: 24px;
}
.titles {
	font-size: 40px;
}
}


/*For Desktops/Laptops*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 28%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#background {
	background-attachment: fixed;
}
#row8background {
	background-attachment: fixed;
}
}
